.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./Assets/fon.png);
  width: 1920px;
  height: 1080px;
}
.forgot_wrap{
  text-align: right;
  margin-top: 10px;
}
.forgot{
  color: #F6B52E;
  text-decoration:none;
}